@font-face {
    font-family: 'Biennale Regular';
    src: url('regular.otf') format('opentype');
}
@font-face {
    font-family: 'Biennale Bold';
    src: url('bold.otf') format('opentype');
}
@font-face {
    font-family: 'Biennale Light';
    src: url('light.otf') format('opentype');
}