@font-face {
    font-family: 'Rajdhani Regular';
    src: url('regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rajdhani Bold';
    src: url('bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Rajdhani Light';
    src: url('light.ttf') format('truetype');
}