.profilePage {

    .profileHeader{
        background-color: $backgroundColor;
    
        .profileStatus{
            display: flex;
            align-items: center;
            padding: 16px 16px 24px;

            .avatar {
                width: 85px;
                height: 85px;
                margin-right: 24px;
            }

            .profileInfo {
                flex: 1;
                display: flex;
                flex-direction: column;

                .btn {
                    margin-top: 12px;
                    padding: 6px;
                    font-size: 12px;
                    border-radius: 4px;
                }

                .statusContainer {
                    display: flex;
                    justify-content: space-around;

                    .status {
                        text-align: center;

                        > strong {
                            font-size: 14px;
                            display: block;
                            }
                        > span {
                            font-size: 12px;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    @media screen and(min-width: $desktopBreakpoint) {
        .profileHeader {
            .actionHeader {
                margin-top: 16px;
                > span {
                    display: none !important;
                }
            }

            .headerBorder {
                margin: 0 auto;
                border: none;
                background-color: $grayColor;
                height: 1px;
                width: 95%;

            }

            .profileStatus {
                .avatar {
                    width: 90px;
                    height: 90px;    
                }
                .profileInfo{
                    .btn{
                        padding: 10px;
                    }
                }
            }
        }
    }   
}
