.actionHeader {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $backgroundColor;

    h3 {
        font-family: $fontBold;
        font-size: 16px;
        flex: 1;
        text-align: center;
    }
}