$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$primaryColor: #16E0BD;
$backgroundColor: #000;
$contentColor: #fff;
$grayColor: #808080;

$desktopBreakpoint: 992px;